<h1>Welcome to 100DaysOfCode</h1>
<h2><%= flash[:error] %></h2>
<% if !session[:user_id] %>
  <p><%= link_to "Login", '/login', method: :get %></p>
  <p><%= link_to "Sign Up", '/users/new', method: :get %></p>
  <p><%= link_to 'Sign in with Github', '/auth/github'%>.</p>
<% else %>
<%= flash[:success] || flash[:error] %>
  <%= link_to "You should create your first day...", new_card_path %>
    <%= link_to "Logout", '/logout', method: :post %>
<% end %>