<h1>Welcome to TellCode</h1>
<h2>Implement a search box here</h2>
    <div class="container">
        <% @days.each do |day| %>
        <h3> <%= day.cards == [] ? " " : "Day Number #{day.id}"  %> </h3>
            <% day.cards.each do |card| %>
                <br>
                <div class="card">
                    <p><%= link_to "My tutorial", card.youtube_link %></p>
                    <p><%= link_to "My challenge", card.codewars_link %></p>
                    <p><%= link_to "My Article", card.article_link %></p>
                    <p>Question of the day: "<%= card.question %>"</p>
                    <% if card.user %>
                    <p>Posted by  <%= link_to card.user.username, user_path(card.user) %></p>
                    <% end %>
                    <br>
                </div>

            <% end %>
        <% end %>
    </div>