<h1>Create a new day</h1>
<%= form_for @day do |f| %>
    <%= f.label :comment %>
    <%= f.text_field :comment %><br>

    <%= f.fields_for :cards do |c| %>
    
        <%= c.label :youtube_link %>
        <%= c.text_field :youtube_link %>

        <%= c.label :codewars_link %>
        <%= c.text_field :codewars_link %>
       
        <%= c.label :article_link %>
        <%= c.text_field :article_link %>
       
        <%= c.label :question %>
        <%= c.text_field :question %>
    <% end %>
    <%= f.submit %>
<% end %>