<!DOCTYPE html>
<html>
  <head>
    <title>TellCode - Social Coding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if current_user == nil || current_user.id == nil%>
    <%=  %>
  <% else %>
      <nav>
        <ul>
        <li><%= link_to "Create a post", new_card_path %></li>
        <li><%= link_to "See all activity", days_path %></li>
        <li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
        <li><%= link_to "Logout", '/logout', method: :post %></li>
        <li><%= link_to "Delete account", delete_account_path(current_user), method: :post %></li>
        </ul>
      </nav>
    
  <% end %>

  
    <%= yield %>
  

  </body>
</html>
